[user]
	name = trapple
	email = trapplejp@gmail.com
[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/trapple/.gitignore_global
[alias]
    st = status
	co = checkout
	ci = commit
	di = diff
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree 2.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
