{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "$": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react": true
  ],
  "rules": {
    "strict": 0,
    "no-use-before-define": 0,
    "no-multi-spaces": 0,
    "no-new": 1,
    "quotes": [0, "double"],
    "key-spacing": 0,
    "camelcase": 0,
    react/jsx-uses-vars": 1
  }
}
