[user]
	name = masuda
	email = masuda@vivi-design.com
[color]
	ui = auto
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[alias]
  st = status
	co = checkout
	ci = commit
	di = diff
